@import 'src/index.css';

.task{
  position: relative;
  min-width: 250px;
  width: 360px;
  max-height: 350px;
  overflow-y: scroll;
  border: 1px solid var(--font-color2);
  border-radius: 16px;
  padding: 24px;
  background-color: var(--bg-color2);
  color: var(--font-color);
  box-shadow: 0px 4px 8px var(--font-color2);
}

.task:hover{
  scale: 1.02;
  border: 1px solid var(--font-color);
}

.importantText{
  color: var(--important-text);
}

.important{
  border: 3px solid var(--important-border);
}

.important:hover{
  scale: 1.02;
  border: 3px solid var(--font-color);
}

/* width */
.task::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.task::-webkit-scrollbar-track {
  background: none;
  margin: 12px;
}

/* Handle */
.task::-webkit-scrollbar-thumb {
  background: var(--font-color);
  border-radius: 16px;
}

/* Handle on hover */
.task::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.name{
  text-align: center;
  padding-top: 4px;
  border-bottom: 2px solid var(--font-color);
  word-break: break-word;
}

.edit{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  right: 0;
  gap: 4px;
  padding-right: 4px;
  padding-top: 8px;
}

.icon {
  width: 22px;
  height: 22px;
  vertical-align: text-bottom;
  cursor: pointer;
}

.icon:hover{
  transform: scale(1.1);
}

.inputCheck{
  font-size: 1.2rem;
  width: 100%;
  font-weight: bold;
  border-top: 2px dashed var(--font-color);
  padding-top: 16px;
}

@media screen and (max-width: 400px) {
  .task{
    width: 280px;
  }
}
