@import '../../index.css';

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-color: var(--bg-color2);
    box-shadow: 0px 2px 4px var(--font-color2);
}

.logo{
    color: var(--font-color);
    padding: 8px;
    border-radius: 16px;
}

.logo:hover{
    color: var(--font-color2);
    background-color: var(--bg-color);
}