:root{
  --bg-color: #D1E8E2;
  --bg-color2: #19747E;
  --bg-color3: #A9D6E5;
  --font-color: rgb(226, 226, 226);
  --font-color2: rgb(33, 37, 41);
}

body{
  background-color: var(--bg-color3);
  height: 100vh;
}

a {
  text-decoration: none;
  color: var(--font-color2);
}

